<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TohokuTeidenTextConverter/src/org/zakky/tttc/PdfToAddressListMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.zakky.tttc.PdfToAddressListMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${folder_prompt}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TohokuTeidenTextConverter"/>
</launchConfiguration>
